@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

main {
  background-color: #F8F7F6;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #0B3B3C;
  margin: 0;
  height: 95vh;
  width: 100vw;
}

header {
  background-color: #ffffff;
  display: flex;
  height: 5vh;
  justify-content: center;
}

header h3 {
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 200px;
  border-bottom: 2px solid #0B3B3C;
}

