.radio-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-input input {
  appearance: none;
  width: 2em;
  height: 2em;
  background-color: #777777;
  box-shadow: inset 2px 5px 10px rgb(107, 107, 107);
  border-radius: 50%;
  transition: .4s ease-in-out;
}

.radio-input input:hover {
  scale: 1.2;
  cursor: pointer;
  box-shadow: none;
}

.radio-input .circle {
  position: relative;
  top: 0.01em;
  left: 1em;
  width: 0.6em;
  height: 0.6em;
  background-color: rgb(60, 255, 0);
  scale: 0;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.radio-input input:checked {
  box-shadow: none;
  border: 1px solid rgb(21, 255, 0);
}

.radio-input input:checked + .circle {
  transform: rotate(360deg);
  scale: 1;
}