#result {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

#result h2 {
  margin: 0;
}

#result #button {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#result button {
  padding: 10px;
  background-color: #FF8D7D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0B3B3C;
  font-size: 15px;
  height: 40px;
  width: 240px;
  transition: transform 0.2s, opacity 0.2s;
}

#result button:hover {
  opacity: 0.8;
}

#result .mapQuestionAnserKey {
  border-radius: 5px;
  background-color: #F8F7F6;
  padding: 10px;
  margin-top: 15px;
}

#result .mapQuestionAnserKey .questionAnserKey {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#result .mapQuestionAnserKey .h3 {
  margin: 0;
}

#result .mapQuestionAnserKey .p {
  margin: 0;
  margin-left: 35px;
}

#result .mapQuestionAnserKey .img {
  width: 18px;
  height: 18px;
  margin: 0 15px 0 5px;
}

#result .mapQuestionAnserKey .img2 {
  width: 15px;
  height: 15px;
  margin: 0 15px 0 5px;
}

#result .mapQuestionAnserKey .optionsCorrectOrIncorrect {
  display: flex;
  align-items: center;
}

#result .mapQuestionAnserKey .correct {
  margin-left: 0px;
  margin: 0;
}

#result .mapQuestionAnserKey .incorrect {
  margin-left: 0px;
  margin: 0;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-left: auto;
}

@media screen and (max-width: 605px) {
  #result #button {
    width: auto;
  }

  #result {
    margin: 0 20px;
  }

  #result button {
    width: 220px;
  }
}

@media screen and (max-width: 530px) {
  #result button {
    width: 190px;
  }

  #result p {
    font-size: 15px;
  }

  #h1 {
    font-size: 25px;
  }
  
  #result .mapQuestionAnserKey .h3 {
    font-size: 16px;
  }
  
  #result .mapQuestionAnserKey .p {
    font-size: 12px;
  }
  
  #result .mapQuestionAnserKey .img {
    width: 15px;
    height: 15px;
  }
  
  #result .mapQuestionAnserKey .img2 {
    width: 15px;
    height: 15px;
  }

  #result .mapQuestionAnserKey .correct {
    font-size: 12px;
  }
  
  #result .mapQuestionAnserKey .incorrect {
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  #result button {
    width: 170px;
  }
}

@media screen and (max-width: 435px) {
  #result button {
    width: 160px;
    font-size: 13px;
  }

  #result h2 {
    font-size: 22px;
  }

  #result p {
    font-size: 13px;
  }

  #result .mapQuestionAnserKey .h3 {
    font-size: 11px;
  }
  
  #result .mapQuestionAnserKey .p {
    font-size: 9px;
    margin-left: 32px;
  }
  
  #result .mapQuestionAnserKey .img {
    width: 12px;
    height: 12px;
  }
  
  #result .mapQuestionAnserKey .img2 {
    width: 12px;
    height: 12px;
  }

  #result .mapQuestionAnserKey .correct {
    font-size: 9px;
  }
  
  #result .mapQuestionAnserKey .incorrect {
    font-size: 9px;
  }
}

@media screen and (max-width: 410px) {
  #result button {
    width: 150px;
    font-size: 11px;
  }

  #result h2 {
    font-size: 20px;
  }

  #result p {
    font-size: 11px;
  }

  #result .mapQuestionAnserKey .h3 {
    font-size: 9px;
  }
  
  #result .mapQuestionAnserKey .p {
    font-size: 7px;
    margin-left: 30px;
  }
  
  #result .mapQuestionAnserKey .img {
    width: 10px;
    height: 10px;
  }
  
  #result .mapQuestionAnserKey .img2 {
    width: 10px;
    height: 10px;
  }

  #result .mapQuestionAnserKey .correct {
    font-size: 7px;
  }
  
  #result .mapQuestionAnserKey .incorrect {
    font-size: 7px;
  }
}

@media screen and (max-width: 390px) {
  #result button {
    width: 140px;
  }
}

@media screen and (max-width: 370px) {
  #result button {
    width: 120px;
  }
}

@media screen and (max-width: 370px) {
  #result button {
    width: 120px;
  }
}

@media screen and (max-width: 330px) {
  #result button {
    width: 100px;
  }

  #h1 {
    font-size: 19px;
  }
}

@media screen and (max-width: 300px) {
  #result button {
    width: 90px;
    font-size: 10px;
  }
}